{% extends 'layout.njk' %}
{% block style %}
    <link rel="stylesheet" href="/create.css">
{% endblock style %}
{% block content %}
    <div class="card">
        <section class="img" style="background: url({{students.avatar_url}}) no-repeat center center / cover"></section>
        <section class="details">
            <form class="form" method="POST" action="/students?_method=PUT">
                {%include 'students/fields.njk'%}
                <input type="hidden" name="id" value={{students.id}}>
                <button id="edit" type="submit">Editar</button>
            </form>
            
            <form id="form-delete"class="form-delete" action="/students?_method=DELETE" method="post">
                <input type="hidden" name="id" value={{students.id}}>
                <button id="delete"type = "submit">Deletar</button>
            </form>
        </section>
        <script>
            const formDelete = document.querySelector("#form-delete")
            formDelete.addEventListener("submit",(event)=>{
                const confirmation = confirm("Deseja Deletar?")
                if(!confirmation){
                    event.preventDefault();
                }
            })
        </script>
    </div>
{% endblock content %}