@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
:root{
    --primary-color:rgb(229, 235, 243);
}
*{
    margin: 0;
    padding: 0;
    border: none;
}
body{
    background-color: rgb(71, 56, 77);
}
.links{
    width: 80%;
    margin: 0 auto;
    border-radius: 0 0 25px 25px;
    box-sizing: border-box;
    text-align: center;
    padding: 32px;
    background-color: var(--primary-color);
}
.links a{
    font-family: 'Roboto', sans-serif;
    color: rgb(119, 104, 104);
    font-size: 24px;
    text-decoration: none;
    position: relative;
}
.links a.active{
    font-weight: bold;
}
.links a + a{
    margin-left: 85px;
}
.links a:hover{
    color: rgb(204, 98, 98);
    transition: all 400ms ease-in-out;
}
.links a::after{
    content: '';
    width: 0%;
    height: 1.5px;
    background-color: black;
    position: absolute;
    left: 50%;
    bottom: -4px;
}
.links a:hover::after{
    width:100%;
    left:0;
    transition: all 400ms ease-in-out
}


/*=== CARD ===*/


.card{
    background-color: var(--primary-color);
    width: 800px;
    min-height: 400px;
    position: relative;
    box-shadow: 0px 0px 6px 12px rgba(0,0,0,0.1);
    margin: 48px auto;
    display: grid;
    grid-template-columns: 40% 60%;
    animation: swap 500ms ease-in-out;
}
@keyframes swap{
    from{
        transform: rotateY(90deg);
    }
    to{
        opacity: 1;
    }
}
.create{
    background-color: darkcyan;
    margin-bottom: 25px;
    display: inline-block;
    width: 60px;
    padding: 8px;
    text-align: center;
    background-color: rgb(27, 173, 105);
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 14px;
    border-radius: 6px;
}
.item{
    font-family: 'Roboto', sans-serif;
}

.item{
    border-top: solid 1px black;
    padding-left: 0.5em;
}
.item:first-child{
    border-bottom: solid 1px black;
    border-top: none;
    margin-bottom: 8%;
}
.item:nth-child(2){
    border: none;
}
.item:last-child{
    position: absolute;
    width: 60%;
    bottom: 0;
}

.item div:nth-child(1){
    font-size: 18px;
    line-height: 24px;
    color: brown;
    letter-spacing: 0.8px;
    font-weight: bold;
}
.item div:nth-child(2){
    color: rgb(153, 145, 145);
    text-transform: uppercase;
}
.details .item span{
    display: block;
    margin: 5px;
    color: rgb(26, 25, 25);
    border-radius: 25px;
    text-align: center;
    width: 115px;
    padding: 4px;
    background-color: rgb(138, 106, 96);
}

a.button{
    display: block;
    position: absolute;
    width: 15%;
    top: 0;
    right: 0;
    padding-top: 2px;
    height: 9.8%;
    font-weight: bold;
    font-size: 14px;
    color: rgb(138, 106, 96);
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    background-color: rgb(245, 205, 97);
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 0 0 0 25px;
}
a.button:hover{
    width:30%;
    padding-top: 12px;
    height: 7.3%;
}




.table-container{
    display: block;
    padding: 40px;
    box-sizing: border-box;
}
.table-container table{
    border-spacing: 0;
}
.table-container thead tr th{
    text-align: left;
}
td, th{
    padding: 16px;
    border-bottom: 1px solid #d9d9d9;
}
th{
    text-transform: uppercase;
    color: rgb(59, 48, 95);
    font-size: 16px;
}

tbody tr:last-child td{
    border-bottom: none;
}

tbody tr td:first-child{
    display: grid;
    grid-template-columns: 64px 1fr;
    align-items: center;
}
tbody tr td:first-child span{
    width: 48px;
    height: 48px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    box-shadow: 3px 1px 6px -4px black;
    border: 2px solid white;
}

tbody tr td:last-child a{
    background-color: rgb(51, 125, 173);
    padding: 8px 16px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 14px;
    border-radius: 6px;
}

.table-container thead tr th:last-child,
td:last-child{
    text-align: center;
}
#area{
    background-color: rgb(136, 110, 160);
    display: inline-block;
    height: 30px;
    padding: 10px 2px 0 2px;
    width: 80px;
    color: rgb(243, 243, 243);
    text-align: center;
    border-radius: 8px;
    border: 1px solid whitesmoke;
    box-shadow: 0px 0px 4px 1px rgba(100, 48, 185, 0.8);
    margin-left: 10px;
}