{% extends 'layout.njk' %}
{% block content %}
    <div class="card table-container">
        <table width="100%">
            <thead>
                <th class="table-name">Nome Completo</th>
                <th class="table-acomp">Acompanhamento</th>
                <th class="table-action">Ação</th>
            </thead>
            <tbody>
                {% for teacher in teachers %}
                <tr>
                    <td class="table-name"> <span style="background-image: url({{teacher.avatar_url}})"></span> {{teacher.name}}</td>
                    <div id="td">
                    
                        <td class="table-acomp">{% for area in teacher.area.split(",") %}<span id="area">{{area}}</span>{% endfor %}</td>
                    
                    </div>
                    <td class="table-action"> <a href="/teachers/{{teacher.id}}">View</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}